@import url('http://fonts.googleapis.com/css?family=Merriweather:400,300,700,900');
@import url('http://fonts.googleapis.com/css?family=Roboto:400,100,900');             
@import url('http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic');  
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
/* 
  For code : 'Ubuntu Mono';
  For headings : 'roboto';
  For text and writings 'Merriweather'
*/
*{ border:0; padding: 0; margin: 0;}
body {
  font:13px/1.5 'Merriweather', serif;
  color:#777;
  font-weight:300;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
  font-family: 'Roboto', sans-serif;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#E58484;
  font-weight:400;
  text-decoration:underline;
}
a:hover{ background: #E58484; color:#fff;  }

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.6em;
  display:block;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:'Ubuntu Mono',Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color:#333;
  font-size:16px;
}

pre {
  background: #f8f8f8;  
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

strong {
  color:#222;
  font-weight:700;
}

small {
  font-size:11px;
}
.big{ font-size: 1.4em; }
.big{ font-size: 0.95em; }
.all-center{ text-align: center; min-height: 55px; }
.design-line{ border-top: 1px solid #f2f2f2; }
.design-line-broad{ border-top: 5px solid #f2f2f2; }
.pull-left{ float:left; }
.pull-right{ float: right; }
.fluid-container{ overflow: hidden; }
.thin-container{ max-width: 540px; margin: auto; }
.mini-captialise{ font-family: 'roboto' ,sans-serif;  
   font-weight: 700; font-size:1.5em; text-transform: uppercase; 
   color:#888; margin: 0 0 10px 0; display: inline-block;
}
.div-fixed{ position: fixed; background:rgba(255,255,255,255.95); }
#top-header{ width:100%; top:0px; }
#site-header{ text-align: center; border-bottom: 1px solid #f4f4f4; padding:20px 0;}
#site-logo{ font-family: 'Roboto',serif; font-size:3em; font-weight:700;
 text-decoration: none; }
@media print, screen and (max-width: 960px) {

}

@media print, screen and (max-width: 800px) {
  .thin-container{ width:60%; margin: auto; }
}

@media print, screen and (max-width: 480px) {
  .thin-container{ width:70%; margin: auto; }
}

#big-branding{  
  text-align: center;
  font-weight:900;
  font-size: 6em;
  margin-top:80px;
  color:#E58484;
}
#archive-heading{
  text-align: center;
  font-weight:900;
  font-size:4em;
  margin-top:60px;
  color:#E58484;
}
.easy-heading{
  text-align: center;
  font-weight: 200;
  font-size:1.3em;
}
#sub-heading-brand{ 
  text-align: center;
  font-weight: 100;
  line-height: 1.3em;
  font-size: 1.1em;
}

.list-heading{ 
   text-transform: uppercase;
   text-align: center; 
   padding:15px 0px;  text-shadow:0px 1px #fff;
   background:#f6f6f6; 
}
ul.link-board{
  padding:0px 10px;
  font-family: 'Merriweather',serif;
  list-style: none;
}
ul.link-board li{  overflow: hidden; border-bottom: 1px solid #eee; padding:10px 0px 0px; }
ul.link-board li a{ padding:2px 0px; font-size: 16px; font-weight: bold; }
ul.link-board li span{ color:#999; font-size: 11px; 
  font-family: 'roboto',sans-serif; display: block;}
ul.link-board li p{ padding:5px 0px; text-align: justify;}
#top-header a{
  display: inline-block;
  font-family: 'Roboto',sans-serif;
  text-transform: uppercase;
  padding:10px 10px; 
  font-size: 1.1em;
}
#top-header a.active{ font-weight: 900; }
.extra-margin{ margin:10px; }

#page-title{ 
   font-family: 'roboto',sans-serif;
   font-weight: 600;
   line-height: 1em;
   font-size: 2.6em; color:#333;
}
#page-subtext{
   font-family: 'roboto',sans-serif;
   font-size: 1.2em;
   color:#777;
   padding:10px 10px 0px;
   line-height: 1.3em;
   font-weight: 400;
}
#page-note{
   font-family: 'roboto',sans-serif;
   font-size: 1.1em;
   color:#444; line-height: 1.4em;
   font-weight: 400;
   font-style: italic;
   margin:0px 10px 10px ;
 }
 #post-wrapper{
   font-family: 'Merriweather',sans-serif; font-size:1.05em; color:#333;
   padding:10px; line-height: 1.8em; margin:10px 0px; font-weight: 400;   
 }
 #post-wrapper pre{
  overflow-x: auto; padding: 0.75em 0.5em;
  border: 1px solid #e6e6e6;
  font-family: 'Ubuntu Mono',sans-serif;
  border-left-width: 5px;
  font-size:1em;
  background: #fcfcfc;
 }
 .question{ display: inline-block; color:#E58484; font-size:1.4em;
  font-family: 'Merriweather',sans-serif; font-weight: bold; 
  }
 .code-element{ 
   font-family:'Ubuntu Mono',Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
   color:#44A1D6; font-weight: bold; 
   font-size:16px;
  }
 #post-wrapper ul{ list-style: square; }
 #site-footer:before {
   content: "";
   display: block;
   max-width: 540px;
   margin: 0 auto 2em;
   height: 1px;
   background: -webkit-linear-gradient(left, rgba(255,255,255,0), #ccc, rgba(255,255,255,0));
   background: -moz-linear-gradient(left, rgba(255,255,255,0), #ccc, rgba(255,255,255,0));
   background: -ms-linear-gradient(left, rgba(255,255,255,0), #ccc, rgba(255,255,255,0));
   background: -o-linear-gradient(left, rgba(255,255,255,0), #ccc, rgba(255,255,255,0));
}
 #site-footer{ text-align: center; font-family: 'Roboto',sans-serif; padding: 0 0 10px 0; }
.highlight{ background: #fe6; color:#444; }
.site-footer-links a{ display: inline-block; padding:0 5px; margin-top:10px; 
   font-family: 'Roboto',sans-serif; color:#aaa;
}
.hey-button {
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    *overflow: visible; /*IE 6/7 - Because of IE's overly large left/right padding on buttons */
    padding: 1.5em 1.5em 1.5em;
    color: #777; /* rgba not supported (IE 8) */
    *color: #777; /* IE 6 & 7 */
    border: 2px solid #ccc;  /*IE 6/7/8*/
    text-decoration: none;
    border-radius: 3px;
    text-shadow:0px 1px #fff;
    display: inline-block;
    /* Transitions */
    -webkit-transition: 0.4s linear background;
    -moz-transition: 0.4s linear background;
    -ms-transition: 0.4s linear background;
    -o-transition: 0.4s linear background;
    transition: 0.4s linear background;
}

.hey-button-button-hover,
.hey-button:hover,
.hey-button:focus {
    background: #f5f5f5;
    color:#666;
}
.hey-button:focus {
    outline: 0;
}
.hey-button-active,
.hey-button:active {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
}

.hey-button[disabled],
.hey-button-disabled,
.hey-button-disabled:hover,
.hey-button-disabled:focus,
.hey-button-disabled:active {
    border: none;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    filter: alpha(opacity=40);
    -khtml-opacity: 0.40;
    -moz-opacity: 0.40;
    opacity: 0.40;
    cursor: not-allowed;
    box-shadow: none;
}

.pure-button-hidden {
    display: none;
}

/* Firefox: Get rid of the inner focus border */
.pure-button::-moz-focus-inner{
    padding: 0;
    border: 0;
}

.pure-button-primary,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
    background-color: rgb(0, 120, 231);
    color: #fff;
}